[Desktop Entry]
Encoding=UTF-8
Name=Pyramidal Sharpening Filter
Name[el]=Φίλτρο πυραμιδοειδούς όξυνσης
Name[es]=Filtro de enfocado piramidal
Name[et]=Püramiidteravdamise filter
Name[fr]=Filtre de nettoyage pyramidal
Name[ga]=Scagaire Géaraithe Pirimidiúil
Name[gl]=Filtro de focalización piramidal
Name[km]=តម្រង​ធ្វើ​ឲ្យ​ពីរ៉ាមីត​ច្បាស់
Name[nds]=Pyramiedsch Scharpde-Filter
Name[nl]=Piramidevormig verscherpingsfilter
Name[pt]=Filtro de Afiamento Piramidal
Name[pt_BR]=Filtro de Nitidez Piramidal
Name[sv]=Pyramidalt skärpefilter
Name[tr]=Pramidal Bileme Süzgeci
Name[uk]=Фільтр пірамідального збільшення різкості
Name[x-test]=xxPyramidal Sharpening Filterxx
Comment=Sharpen an image using a pyramidal approach.
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaPyramidalSharpening
X-Krita-Version=2
