[Desktop Entry]
Encoding=UTF-8
Name=Pyramidal Sharpening Filter
Name[el]=Φίλτρο πυραμιδοειδούς όξυνσης
Name[es]=Filtro de enfocado piramidal
Name[et]=Püramiidteravdamise filter
Name[fr]=Filtre de nettoyage pyramidal
Name[ga]=Scagaire Géaraithe Pirimidiúil
Name[gl]=Filtro de focalización piramidal
Name[km]=តម្រង​ធ្វើ​ឲ្យ​ពីរ៉ាមីត​ច្បាស់
Name[nds]=Pyramiedsch Scharpde-Filter
Name[nl]=Piramidevormig verscherpingsfilter
Name[pt]=Filtro de Afiamento Piramidal
Name[pt_BR]=Filtro de Nitidez Piramidal
Name[sv]=Pyramidalt skärpefilter
Name[tr]=Pramidal Bileme Süzgeci
Name[uk]=Фільтр пірамідального збільшення різкості
Name[x-test]=xxPyramidal Sharpening Filterxx
Comment=Sharpen an image using a pyramidal approach.
Comment[es]=Enfoca una imagen utilizando una aproximación piramidal.
Comment[et]=Pildi teravdamine püramidaalselt.
Comment[fr]=Nettoyer une image utilisant une approche pyramidale
Comment[ga]=Géaraigh íomhá le cur chuige pirimidiúil.
Comment[pt]=Aumenta o detalhe de uma imagem com uma abordagem piramidal.
Comment[pt_BR]=Aumenta o detalhe de uma imagem com uma abordagem piramidal.
Comment[sv]=Gör en bild skarpare med ett pyramidalt tillvägagångssätt.
Comment[tr]=Pramidal bir yaklaşım kullanarak bir resmi keskinleştir.
Comment[uk]=Збільшити різкість за допомогою пірамідального підходу.
Comment[x-test]=xxSharpen an image using a pyramidal approach.xx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaPyramidalSharpening
X-Krita-Version=2
